@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply flex justify-center text-white bg-neutral-950;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0c3145 transparent;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #0c3145;
}
